name: build-vscode-extension

on:
  workflow_call:
    inputs:
      # LSP Server program version to download
      # https://github.com/r-koubou/KSPCompiler/releases
      lsp-program-version:
        required: true
        type: string
        default: "latest"
        description: |
          Language Server program version to download (e.g.: v1.2.3, latest).
          see also: https://github.com/r-koubou/KSPCompiler/releases
      lsp-build-configuration:
        required: true
        type: string
      channel:
        required: true
        type: string
        default: "develop"
        description: |
          Build channel (develop, rc, release)
      version:
        required: false
        type: string
        default: ""
        description: |
          This vscode extension version to set in package.json (e.g.: 1.0.0).
          If not set (empty), the version in package.json is not changed.
      preview-flag:
        required: false
        type: boolean
        default: false
        description: |
          It will be reflected in the "preview" field of package.json (default: false)
      pre-release-build:
        required: false
        type: boolean
        default: false
        description: |
          "--pre-release" flag for vsce package command (default: false)
  workflow_dispatch:
    inputs:
      lsp-program-version:
        required: true
        type: string
        default: "latest"
        description: |
          KSPCompiler version(e.g.: v1.2.3, latest)
      lsp-build-configuration:
        required: true
        type: choice
        options:
          - Debug
          - Release
        description: |
          Build configuration of KSPCompiler
      channel:
        required: true
        type: choice
        options:
          - develop
          - rc
          - release
        default: "develop"
        description: |
          Build channel (develop, rc, release)
      version:
        required: false
        type: string
        description: |
          VSCode extension version (override)
      preview-flag:
        required: false
        type: boolean
        default: false
        description: |
          Set `preview` field in package.json
      pre-release-build:
        required: false
        type: boolean
        default: false
        description: |
          "--pre-release" flag for vsce package command (default: false)

jobs:
  #--------------------------------------------------------------
  # Build VSCode extension
  #--------------------------------------------------------------
  build-vscode-extension:
    runs-on: ubuntu-latest
    env:
      LSPSERVER_REPO_URI: r-koubou/KSPCompiler
      LSPSERVER_PUBLISH_DIR: ${{ github.workspace }}/language_server
      ARTIFACT_NAME: rkoubou-vscode-ksp

    steps:
    - name: Show workflow inputs
      run: |
        {
          echo "## Workflow Inputs"
          echo ""
          echo "|name|value|"
          echo "|----|-----|"
          echo "|ref| ${{ github.ref }}|"
          echo "|Commit SHA| ${{ github.sha }}|"
          echo "|Download LSP Server Version| ${{ inputs.lsp-program-version }}|"
          echo "|Download LSP Server Configuration| ${{ inputs.lsp-build-configuration }}|"
          echo "|Version| ${{ inputs.version }}|"
          echo "|Preview Flag in package.json| ${{ inputs.preview-flag }}|"
          echo "|Build Channel| ${{ inputs.channel }}|"
          echo "|Build VS Code Extension as Pre-release| ${{ inputs.pre-release-build }}|"
          echo ""
        } >> $GITHUB_STEP_SUMMARY

    #----------------------------------------------------------
    # Guard - tag build must be release channel
    #----------------------------------------------------------
    - name: Guard - tag build must be release channel
      if: ${{ inputs.channel == 'release' && !startsWith(github.ref, 'refs/tags/v') }}
      run: |
        echo "::error::Must use channel=release when building from tag/v*"
        exit 1

    #----------------------------------------------------------
    # Checkout repository
    #----------------------------------------------------------
    - name: Checkout
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      with:
        fetch-depth: 0
        token: ${{ secrets.GITHUB_TOKEN }}
        submodules: true

    #----------------------------------------------------------
    # Setup the artifact suffix
    #----------------------------------------------------------
    - name: "Setup the artifact suffix (version: from package.json)"
      if: ${{ inputs.version == '' }}
      run: |
        VERSION=$(grep '"version":' package.json | sed -E 's/.*"version":\s*"([^"]+)".*/\1/')
        echo "ARTIFACT_SUFFIX=-v${VERSION}" >> $GITHUB_ENV

    - name: "Setup the artifact suffix (version: specified)"
      if: ${{ inputs.version != '' }}
      run: |
        sed -i.bak -e "s/\"version\": \".*\"/\"version\": \"${{ inputs.version }}\"/" package.json
        echo "ARTIFACT_SUFFIX=-v${{ inputs.version }}" >> $GITHUB_ENV

        echo "::warning::The version value will be overridden to '${{ inputs.version }}'"

    - name: "Setup the artifact suffix (inputs.channel)"
      run: |
        echo "ARTIFACT_SUFFIX=${{ env.ARTIFACT_SUFFIX }}-${{ inputs.channel }}" >> $GITHUB_ENV

    - name: Setup the artifact suffix (inputs.preview-flag)
      if: ${{ inputs.preview-flag == true }}
      run: |
        echo "ARTIFACT_SUFFIX=${{ env.ARTIFACT_SUFFIX }}-preview" >> $GITHUB_ENV

    #----------------------------------------------------------
    # Setup for downloading Language Server
    #----------------------------------------------------------

    # if lsp-program-version is 'latest', get the latest release tag
    - name: Setup for downloading Language Server (latest)
      if: ${{ inputs.lsp-program-version == 'latest' }}
      run: |
        mkdir -p ${{ env.LSPSERVER_PUBLISH_DIR }}

        echo "Fetching latest release info from GitHub API..."

        LSP_SERVER_LATEST_RELEASE=$(curl -s "https://api.github.com/repos/${{ env.LSPSERVER_REPO_URI }}/releases/latest" | jq -r '.tag_name')
        echo "LSP_SERVER_RELEASE_TAG=$LSP_SERVER_LATEST_RELEASE" >> $GITHUB_ENV

    # otherwise, use the specified version
    - name: Setup for downloading Language Server (specific version)
      if: ${{ inputs.lsp-program-version != 'latest' }}
      run: |
        mkdir -p ${{ env.LSPSERVER_PUBLISH_DIR }}
        echo "LSP_SERVER_RELEASE_TAG=${{ inputs.lsp-program-version }}" >> $GITHUB_ENV

    #----------------------------------------------------------
    # Show setup Environment Variables
    #----------------------------------------------------------
    - name: Show setup Environment Variables
      run: |
        {
          echo "## Setup Environment Variables"
          echo ""
          echo "<details>"
          echo "<summary>Click to expand</summary>"
          echo ""
          echo "|name|value|"
          echo "|----|-----|"
          echo "|LSPSERVER_PUBLISH_DIR|${{ github.workspace }}/language_server|"
          echo "|ARTIFACT_NAME|${{ env.ARTIFACT_NAME }}|"
          echo "|ARTIFACT_SUFFIX|${{ env.ARTIFACT_SUFFIX }}|"
          echo "|LSPSERVER_REPO_URI|${{ env.LSPSERVER_REPO_URI }}|"
          echo "|LSP_SERVER_RELEASE_TAG|${{ env.LSP_SERVER_RELEASE_TAG }}|"
          echo ""
          echo "</details>"
        } >> $GITHUB_STEP_SUMMARY

    #----------------------------------------------------------
    # Download Language Server program
    #----------------------------------------------------------
    - name: Download Language Server program
      run: |
        pushd ${{ env.LSPSERVER_PUBLISH_DIR }}

        echo "::notice::Downloading Language Server version: ${{ env.LSP_SERVER_RELEASE_TAG }}"
        echo "::notice::Build Configuration: ${{ inputs.lsp-build-configuration }}"

        curl -L -H "Accept: application/octet-stream" \
             -o "__lsp_server.zip" \
             "https://github.com/${{ env.LSPSERVER_REPO_URI }}/releases/download/${{ env.LSP_SERVER_RELEASE_TAG }}/KSP-LanguageServer-${{ inputs.lsp-build-configuration }}-${{ env.LSP_SERVER_RELEASE_TAG }}-release.zip"

        unzip "__lsp_server.zip"
        rm -f "__lsp_server.zip"

        {
          if [ -f VERSION.txt ]; then
            echo "## LSP Server inforemation"
            echo "\`\`\`"
            cat VERSION.txt
            echo "\`\`\`"
          fi
        } >> $GITHUB_STEP_SUMMARY

        popd

    #----------------------------------------------------------
    # Setup dependency build tools from .prototools
    #----------------------------------------------------------
    - name: Show .prototools configuration
      run: |
        if [ -f .prototools ]; then
          {
            echo "## .prototools configuration"
            echo ""
            echo "<details>"
            echo "<summary>Click to expand</summary>"
            echo ""
            echo "\`\`\`toml"
            cat .prototools
            echo "\`\`\`"
            echo ""
            echo "</details>"
          } >> $GITHUB_STEP_SUMMARY
        fi

    - name: Setup Dependency Build Tools from .prototools
      uses: moonrepo/setup-toolchain@8794f0318b9df4a43a5ddc23cefd16f595b423dd # v0
      with:
        auto-install: true

    #----------------------------------------------------------
    # Upsert inputs.preview value
    #----------------------------------------------------------
    - name: package.json - Upsert inputs.preview value
      run: |
        sed -i.bak -e "s/\"preview\": .*$/\"preview\": ${{ inputs.preview-flag }},/" package.json

    #----------------------------------------------------------
    # Show package.json
    #----------------------------------------------------------
    - name: package.json - show
      run: |
        {
          echo "## package.json"
          echo "<details>"
          echo "<summary>Click to expand</summary>"
          echo ""
          echo "\`\`\`json"
          cat package.json
          echo ""
          echo "\`\`\`"
          echo ""
          echo "</details>"
        } >> $GITHUB_STEP_SUMMARY

    #----------------------------------------------------------
    # Build VSCode extension
    #----------------------------------------------------------
    - name: Build VSCode extension
      if: ${{ inputs.pre-release-build == false }}
      run: |
        npm install
        npx @vscode/vsce package

    - name: Build VSCode extension (pre-release)
      if: ${{ inputs.pre-release-build == true }}
      run: |
        npm install
        npx @vscode/vsce package --pre-release

    #----------------------------------------------------------
    # Upload artifact
    #----------------------------------------------------------
    - name: Show artifact suffix
      run: |
        {
          echo "## Artifact Suffix"
          echo ""
          echo "${{ env.ARTIFACT_SUFFIX }}"
          echo ""
        } >> $GITHUB_STEP_SUMMARY
    - name: Upload artifact
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
      with:
        name: ${{ env.ARTIFACT_NAME }}${{ env.ARTIFACT_SUFFIX }}_${{ github.sha }}
        path: "*.vsix"
