name: build-vscode-extension

on:
  workflow_call:
    inputs:
      # LSP Server program version to download
      # https://github.com/r-koubou/KSPCompiler/releases
      lsp-program-version:
        required: true
        type: string
        default: "latest"
        description: |
          Language Server program version to download (e.g.: v1.2.3, latest).
          see also: https://github.com/r-koubou/KSPCompiler/releases
      lsp-build-configuration:
        required: true
        type: string
      version:
        required: false
        type: string
        default: ""
        description: |
          This vscode extension version to set in package.json (e.g.: 1.0.0).
          If not set (empty), the version in package.json is not changed.
      preview-flag:
        required: false
        type: boolean
        default: false
        description: |
          It will be reflected in the "preview" field of package.json (default: false)
      pre-release-build:
        required: false
        type: boolean
        default: false
        description: |
          Build as pre-release version (default: false)

  workflow_dispatch:
    inputs:
      lsp-program-version:
        required: true
        type: string
        default: "latest"
        description: |
          KSPCompiler version(e.g.: v1.2.3, latest)
      lsp-build-configuration:
        required: true
        type: choice
        options:
          - Debug
          - Release
        description: |
          Build configuration of KSPCompiler
      version:
        required: false
        type: string
        description: |
          VSCode extension version (override)
      preview-flag:
        required: false
        type: boolean
        default: false
        description: |
          Set `preview` field in package.json
      pre-release-build:
        required: false
        type: boolean
        default: false
        description: |
          Build as pre-release version

jobs:
  #--------------------------------------------------------------
  # Build VSCode extension
  #--------------------------------------------------------------
  build-vscode-extension:
    runs-on: ubuntu-latest
    env:
      LSPSERVER_REPO_URI: r-koubou/KSPCompiler
      LSPSERVER_PUBLISH_DIR: ${{ github.workspace }}/language_server
      ARTIFACTS_NAME: rkoubou-vscode-ksp

    steps:
    - name: Show workflow inputs
      run: |
        {
          echo "## Workflow Inputs"
          echo "|name|value|"
          echo "|----|-----|"
          echo "|Commit SHA| ${{ github.sha }}"
          echo "|Download LSP Server Configuration| ${{ inputs.lsp-build-configuration }}"
          echo "|Version| ${{ inputs.version }}"
          echo "|Preview Flag in package.json| ${{ inputs.preview-flag }}"
          echo "|Pre-release Build| ${{ inputs.pre-release-build }}"
        } >> $GITHUB_STEP_SUMMARY

    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        token: ${{ secrets.GITHUB_TOKEN }}
        submodules: true

    #----------------------------------------------------------
    # Setup for downloading Language Server
    #----------------------------------------------------------

    # if lsp-program-version is 'latest', get the latest release tag
    - name: Setup for downloading Language Server (latest)
      if: ${{ inputs.lsp-program-version == 'latest' }}
      run: |
        mkdir -p ${{ env.LSPSERVER_PUBLISH_DIR }}

        echo "Fetching latest release info from GitHub API..."

        LSP_SERVER_LATEST_RELEASE=$(curl -s "https://api.github.com/repos/${{ env.LSPSERVER_REPO_URI }}/releases/latest" | jq -r '.tag_name')
        echo "LSP_SERVER_RELEASE_TAG=$LSP_SERVER_LATEST_RELEASE" >> $GITHUB_ENV

    # otherwise, use the specified version
    - name: Setup for downloading Language Server (specific version)
      if: ${{ inputs.lsp-program-version != 'latest' }}
      run: |
        mkdir -p ${{ env.LSPSERVER_PUBLISH_DIR }}
        echo "LSP_SERVER_RELEASE_TAG=${{ inputs.lsp-program-version }}" >> $GITHUB_ENV

    #----------------------------------------------------------
    # Download Language Server program
    #----------------------------------------------------------
    - name: Download Language Server program
      run: |
        pushd ${{ env.LSPSERVER_PUBLISH_DIR }}

        echo "::notice::Downloading Language Server version: ${{ env.LSP_SERVER_RELEASE_TAG }}"
        echo "::notice::Build Configuration: ${{ inputs.lsp-build-configuration }}"

        curl -L -H "Accept: application/octet-stream" \
             -o "__lsp_server.zip" \
             "https://github.com/${{ env.LSPSERVER_REPO_URI }}/releases/download/${{ env.LSP_SERVER_RELEASE_TAG }}/KSP-LanguageServer-${{ inputs.lsp-build-configuration }}-${{ env.LSP_SERVER_RELEASE_TAG }}.zip"

        unzip "__lsp_server.zip"
        rm -f "__lsp_server.zip"

        {
          if [ -f VERSION.txt ]; then
            echo "## LSP Server inforemation"
            echo "\`\`\`"
            cat VERSION.txt
            echo "\`\`\`"
          fi
        } >> $GITHUB_STEP_SUMMARY

        popd

    #----------------------------------------------------------
    # Setup Node.js
    #----------------------------------------------------------
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22.x'

    #----------------------------------------------------------
    # Upsert version value if `version` is not empty
    #----------------------------------------------------------
    - name: package.json - Upsert version value
      if: ${{ inputs.version != '' }}
      run: |
        sed -i.bak -e "s/\"version\": \".*\"/\"version\": \"${{ inputs.version }}\"/" package.json
        echo "ARTIFACT_SUFFIX=-v${{ inputs.version }}" >> $GITHUB_ENV

        echo "::warning::The version value will be overridden to '${{ inputs.version }}'"

    #----------------------------------------------------------
    # Upsert preview value if `preview-flag` is not empty
    #----------------------------------------------------------
    - name: package.json - preview-flag value check
      if: ${{ inputs.preview-flag == true }}
      run: |
        echo "::notice::The preview field will be set to 'true'"

    - name: package.json - Upsert preview value
      run: |
        sed -i.bak -e "s/\"preview\": .*$/\"preview\": ${{ inputs.preview-flag }},/" package.json

    #----------------------------------------------------------
    # Show package.json
    #----------------------------------------------------------
    - name: package.json - show
      run: |
        {
          echo "## package.json"
          echo "<details>"
          echo "<summary>Click to expand</summary>"
          echo ""
          echo "\`\`\`json"
          cat package.json
          echo ""
          echo "\`\`\`"
          echo ""
          echo "</details>"
        } >> $GITHUB_STEP_SUMMARY

    #----------------------------------------------------------
    # Build VSCode extension
    #----------------------------------------------------------
    - name: Build VSCode extension
      if: ${{ inputs.pre-release-build == false }}
      run: |
        npm install
        npx @vscode/vsce package

    - name: Build VSCode extension (pre-release)
      if: ${{ inputs.pre-release-build == true }}
      run: |
        echo "::notice::This is a pre-release build."
        npm install
        npx @vscode/vsce package --pre-release

    #----------------------------------------------------------
    # Upload artifact
    #----------------------------------------------------------
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.ARTIFACTS_NAME }}${{ env.ARTIFACT_SUFFIX }}_${{ github.sha }}
        path: "*.vsix"
