name: build-vscode-extension

env:
  DOTNET_SDK_VERSION: '9.0.*'
on:
  workflow_call:
    inputs:
      build-configuration:
        required: true
        type: string
      version:
        required: false
        type: string
        default: ""
      preview-build:
        required: false
        type: boolean
        default: false

  workflow_dispatch:
    inputs:
      build-configuration:
        required: true
        type: choice
        options:
          - Debug
          - Release
      version:
        required: false
        type: string
      preview-build:
        required: false
        type: boolean

jobs:
  #--------------------------------------------------------------
  # Build VSCode extension
  #--------------------------------------------------------------
  build-vscode-extension:
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      LSPSERVER_BASE_DIR: ${{ github.workspace }}/submodules/KSPCompiler/Compiler/Features/LanguageServer/Applications/LanguageServerFramework
      LSPSERVER_PUBLISH_DIR: ${{ github.workspace }}/language_server
      ARTIFACTS_NAME: rkoubou-vscode-ksp

    steps:
    - name: Show workflow inputs
      run: |
        echo Configuration: ${{ inputs.build-configuration }}
        echo Version: ${{ inputs.version }}
        echo Preview Build: ${{ inputs.preview-build }}

    - name: Checkout
      uses: actions/checkout@v4

    - name: Update submodules
      run: |
        mkdir -p $HOME/.ssh/
        echo "${{ secrets.KSP_COMPILER_ACCESS_TOKEN }}" > $HOME/.ssh/id_rsa
        sudo chmod 600 $HOME/.ssh/id_rsa
        export GIT_SSH_COMMAND="ssh -i $HOME/.ssh/id_rsa"
        git submodule update --init --recursive
        git submodule update --remote

    #----------------------------------------------------------
    # Setup Node.js
    #----------------------------------------------------------
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'

    #----------------------------------------------------------
    # Setup .NET SDK
    #----------------------------------------------------------
    - name: Setup .NET SDK
      run: |
        echo .NET SDK Version: ${{ env.DOTNET_SDK_VERSION }}
    - name: Install .NET SDK
      uses: actions/setup-dotnet@v4

      with:
        dotnet-version: ${{ env.DOTNET_SDK_VERSION }}

    #----------------------------------------------------------
    # Build compiler
    #----------------------------------------------------------
    - name: Build
      run: |
        pushd ${{ env.LSPSERVER_BASE_DIR }}
        dotnet publish -c ${{ inputs.build-configuration }} -o ${{ env.LSPSERVER_PUBLISH_DIR }}
        popd

    #----------------------------------------------------------
    # Upsert version value if `version` is not empty
    #----------------------------------------------------------
    - name: Upsert version value
      if: ${{ inputs.version != '' }}
      run: |
        sed -i.bak -e "s/\"version\": \".*\"/\"version\": \"${{ inputs.version }}\"/" package.json

    #----------------------------------------------------------
    # Build VSCode extension
    #----------------------------------------------------------
    - name: Build VSCode extension
      if: ${{ inputs.preview-build == false }}
      run: |
        npm install
        npx @vscode/vsce package

    - name: Build VSCode extension (preview)
      if: ${{ inputs.preview-build == true }}
      run: |
        npm install
        npx @vscode/vsce package --pre-release

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.ARTIFACTS_NAME }}
        path: "*.vsix"
