name: build-vscode-extension

env:
  DOTNET_SDK_VERSION: '9.0.*'
on:
  workflow_call:
    inputs:
      lsp-build-configuration:
        required: true
        type: string
      version:
        required: false
        type: string
        default: ""
      preview-build:
        required: false
        type: boolean
        default: false

  workflow_dispatch:
    inputs:
      lsp-build-configuration:
        required: true
        type: choice
        options:
          - Debug
          - Release
      version:
        required: false
        type: string
      preview-build:
        required: false
        type: boolean

jobs:
  #--------------------------------------------------------------
  # Build VSCode extension
  #--------------------------------------------------------------
  build-vscode-extension:
    runs-on: ubuntu-latest
    env:
      LSPSERVER_REPO_URI: r-koubou/KSPCompiler
      LSPSERVER_PUBLISH_DIR: ${{ github.workspace }}/language_server
      ARTIFACTS_NAME: rkoubou-vscode-ksp

    steps:
    - name: Show workflow inputs
      run: |
        echo Download LSP Server Configuration: ${{ inputs.lsp-build-configuration }}
        echo Version: ${{ inputs.version }}
        echo Preview Build: ${{ inputs.preview-build }}

    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        token: ${{ secrets.GITHUB_TOKEN }}
        submodules: true

    #----------------------------------------------------------
    # Setup for downloading Language Server
    #----------------------------------------------------------
    - name: Setup for downloading Language Server
      run: |
        mkdir -p ${{ env.LSPSERVER_PUBLISH_DIR }}

        LSP_SERVER_LATEST_RELEASE=$(curl -s "https://api.github.com/repos/${{ env.LSPSERVER_REPO_URI }}/releases/latest" | jq -r '.tag_name')
        echo "LSP_SERVER_RELEASE_TAG=$LSP_SERVER_LATEST_RELEASE" >> $GITHUB_ENV

    #----------------------------------------------------------
    # Download latest release of Language Server
    #----------------------------------------------------------
    - name: Download latest release of Language Server
      run: |
        pushd ${{ env.LSPSERVER_PUBLISH_DIR }}

        curl -L -H "Accept: application/octet-stream" \
             -o "__lsp_server.zip" \
             "https://github.com/${{ env.LSPSERVER_REPO_URI }}/releases/download/${{ env.LSP_SERVER_RELEASE_TAG }}/KSP-LanguageServer-${{ inputs.lsp-build-configuration }}-${{ env.LSP_SERVER_RELEASE_TAG }}.zip"

        unzip "__lsp_server.zip"
        rm -f "__lsp_server.zip"
        popd

    #----------------------------------------------------------
    # Setup Node.js
    #----------------------------------------------------------
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'

    #----------------------------------------------------------
    # Upsert version value if `version` is not empty
    #----------------------------------------------------------
    - name: Upsert version value
      if: ${{ inputs.version != '' }}
      run: |
        sed -i.bak -e "s/\"version\": \".*\"/\"version\": \"${{ inputs.version }}\"/" package.json
        echo "ARTIFACT_SUFFIX=-v${{ inputs.version }}" >> $GITHUB_ENV

    #----------------------------------------------------------
    # Build VSCode extension
    #----------------------------------------------------------
    - name: Build VSCode extension
      if: ${{ inputs.preview-build == false }}
      run: |
        npm install
        npx @vscode/vsce package

    - name: Build VSCode extension (preview)
      if: ${{ inputs.preview-build == true }}
      run: |
        npm install
        npx @vscode/vsce package --pre-release

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.ARTIFACTS_NAME }}${{ env.ARTIFACT_SUFFIX }}
        path: "*.vsix"
